
.button-container {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

.link-text {
    text-decoration: none;
    color: white !important;
    text-align: center;
    display: inline-block
}