.container-home {
  text-align: center;
  font-family: fantasy;
  font-size: 40px;
  margin-bottom: 20px;
}

.container-title {
  text-decoration: none;
  color: black;
}


.my-button {
  color: white;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  font-weight: 500;
  border: 1px solid transparent;
  padding: .5rem .75rem;
  font-size: 1.2rem;
  line-height: 1.5;
  border-radius: .25rem;
  min-width: 200px;
  max-width: 400px;
}

.button-translate {
  background-color: #2F56A6;
}

.button-translate:hover {
  background-color: #23417D;
}